# dependencies required for documentation
sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1

# furo
# https://download.pytorch.org/whl/cpu/torch-1.9.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
# https://data.dgl.ai/wheels/dgl-0.9.1-cp37-cp37m-manylinux1_x86_64.whl

# https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_cluster-1.5.9-cp37-cp37m-linux_x86_64.whl
# https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_scatter-2.0.7-cp37-cp37m-linux_x86_64.whl
# https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_sparse-0.6.10-cp37-cp37m-linux_x86_64.whl
# https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_spline_conv-1.2.1-cp37-cp37m-linux_x86_64.whl

# https://download.pytorch.org/whl/cpu/torch-2.1.2+cpu.cxx11.abi-cp310-cp310-linux_x86_64.whl

torch
torch_geometric
torch_scatter
setuptools
sphinxcontrib-bibtex
matplotlib
sphinx_gallery
sphinx-autobuild
sphinx_rtd_theme
sphinx
ruamel.yaml
pandas
scipy
scikit-learn
pyro-api
pyro-ppl
numba
sphinx-autoapi
fvcore
munkres
cytoolz
pynndescent
dtaidistance

